doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js')
    script(src='/javascripts/submitController.js')

  body(ng-app="shortenApp")



  div.wrap
    div.title
      h1= title
      p(ng-show="form.urlToShorten.$invalid && !form.urlToShorten.$pristine").
        invalid url
    div.submissionDiv
      form(name="form" novalidate ng-controller="toggleSubmit" ng-submit="shorten_url(urlToShorten)")
        div
          input.urlEntry(name="urlToShorten" type="url" ng-model="urlToShorten" ng-required="true")


          input.urlSubmit(name="urlSubmit" ng-disabled="form.$invalid" type="submit" value="Shorten")
