doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js')
    script(src='/javascripts/submitController.js')

  body(ng-app="shortenApp")
  h1= title

  form(name="form" novalidate ng-controller="toggleSubmit" ng-submit="shorten_url(urlToShorten)")
    div 
      input(name="urlToShorten" type="url" ng-model="urlToShorten" ng-required="true")
      p(ng-show="form.urlToShorten.$invalid && !form.urlToShorten.$pristine").
        invalid url

      input(name="urlSubmit" ng-disabled="form.$invalid" type="submit" value="Submit")
