/*
Styling heavily influenced/stolen from 
Karan Goel's own url shortener
www.github.com/karan/s
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrap {
  background: radial-gradient(#4F2073, #2E2C2C);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.submissionDiv {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 100px;
}

.urlEntry {
  padding: 10px;
  width: 85%;
  height: 35px;
  color : #747862;
  border:0;
  margin-bottom:0px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: rgba(0,0,0,.1);
  float: left;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  box-shadow: 0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);
  outline: 0px;

}

.urlSubmit {
  width: 15%;
  height: 35px;
  background: rgba(0,0,0,.4); 
  border: 0;
  box-shadow: 1px 1px 1px #292626;

  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

a {
  color: #00B7FF;
}